<script type="text/javascript"></script>

<div id="map"></div>

<script>
function initMap() {
    var map = new google.maps.Map(document.getElementById('map'), {
      zoom: 5,
      center: {lat: 43.9973, lng: -117.7190}
    });


  function addMarker(lt,ln) {
    var marker = new google.maps.Marker({
      position: ({lat: lt, lng: ln}),
      map: map,
    });
  }

  $.ajax({
    method: 'GET',
    url: '/incidents',
  }).done(function(response){
    for (var i = 0; i < response.length; i++) {
      var incident = response[i];
      addMarker(parseFloat(incident.lat), parseFloat(incident.lon));
    }
  });
}
</script>

<script async defer
  src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBf_cqRkXwwDZfNb_f0DfMJzWGgHZSr4mU&callback=initMap">
</script>
