<!DOCTYPE html>
<html>
  <head>
    <title>PoliceWatch</title>
    <meta name="viewport" content="initial-scale=1.0, width=device-width" />
     <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.4.3/css/bulma.min.css">
    <script src="https://www.gstatic.com/firebasejs/4.1.5/firebase.js"></script>
<script>
  // Initialize Firebase
  var config = {
    apiKey: "AIzaSyA2HimoiVKH4WyqcF4hxvBwZIIzkfPBC-I",
    authDomain: "policewatch-109e6.firebaseapp.com",
    databaseURL: "https://policewatch-109e6.firebaseio.com",
    projectId: "policewatch-109e6",
    storageBucket: "policewatch-109e6.appspot.com",
    messagingSenderId: "86075236298"
  };
  firebase.initializeApp(config);
</script>
    <script src="https://use.fontawesome.com/e795c6fc1a.js"></script>

    <!-- <link rel="stylesheet" type="text/css" href="./dist/index.css"> -->
<section class="hero is-dark">
  <div class="hero-body">
    <div class="container">
      <h1 class="title">
        PoliceWatch
      </h1>
      <h2 class="subtitle">
        Visualizing Officer-Involved Deaths (2015-2016)
      </h2>
    </div>
  </div>
</section>
<nav class="breadcrumb">
  <ul>
    <li><a href="/">Home</a></li>
    <li><a href="/about">About</a></li>
    <li><a href="/resources">Resources</a></li>
  </ul>
</nav>
</head>
<script src="https://cdn.firebase.com/js/client/2.3.2/firebase.js"></script>
  <body>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script type="text/javascript" src="https://d3js.org/d3.v4.min.js"></script>

    <style>
    .hero-body {
        margin: 10px;
        margin-bottom: 15px;
        padding: 10px;
    }
    body {
        margin: 0;
        padding: 0;
    }
    </style>
    <%= javascript_include_tag 'application' %>
    <%= yield %>
  </body>
  <footer class="footer">
  <div class="container">
    <div class="content has-text-centered">
      <p>
        <strong>PoliceWatch</strong> by <a href="http://github.com/joel-g">Joel Guerra </a> and <a href="http://github.com/knweber">Kris Weber</a>.
      </p>
      <p>
        <a class="icon" href="http://github.com/knweber/police-watch">
          <i class="fa fa-github"></i>
        </a>
      </p>
    </div>
  </div>
</footer>
</html>
